<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>data-bounce</servlet-name>
        <servlet-class>me.newdigate.databounce.DataBounceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>data-bounce</servlet-name>
        <url-pattern>/dataBounce</url-pattern>
    </servlet-mapping>

</web-app>
